.list {
    list-style: none;
    padding: 10px;
}

.list__task {
    border-bottom: solid 2px #ededed;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px;
    grid-gap: 10px;
    align-items: center;
}

.list__task--done {
    text-decoration: line-through;
}

.list__task--hidden {
    display: none;
}

.list__button {
    height: 30px;
    width: 30px;
    background-color: #218b21;
    color: white;
    border: 0px;
    cursor: pointer;
}

.list__button--remove {
    background-color: #db133c;
}

.list__button--remove:hover {
    background-color: hsl(348, 84%, 57%);
    transition: 1s;
}

.list__button--done:hover {
    background-color: hsl(120, 62%, 44%);
    transition: 1s;
}

.list__button:active {
    outline: solid 2px #000000
}